<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<form action="/savePerson" method="post">
<input type="number" name="id" required="required" placeholder="ID"/>
<input type="text" name="firstName" required="required" placeholder="First Name"/>
<input type="text" name="lastName" required="required" placeholder="Last Name"/>
<input type="date" name="dob" required="required" placeholder="DOB"/>
<input type="number" name="ssn" required="required" placeholder="SSN"/>
<input type="number" name="salary" required="required" placeholder="Salary"/>
<input type="text" name="employment type" required="required" placeholder="Employment Type"/>


<button type="submit">Save</button>
</form>
</body>
</html>